### Explore data: pandas/numpy basics

In [54]:
# import pandas as pd

# df = pd.read_csv('cancer_data.csv')
# df.head()

In [55]:
df.shape

(4, 2)

In [56]:
df.dtypes

Alice      int64
Bob      float64
dtype: object

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
Alice    4 non-null int64
Bob      3 non-null float64
dtypes: float64(1), int64(1)
memory usage: 144.0 bytes

In [59]:
# this returns the number of unique values in each column
df.nunique()

Alice    4
Bob      3
dtype: int64

In [60]:
# this returns useful descriptive statistics for each column of data
df.describe()

            Alice         Bob
count    4.000000    3.000000
mean   173.750000  108.333333
std    219.824741  119.303534
min     40.000000   25.000000
25%     43.750000   40.000000
50%     77.500000   55.000000
75%    207.500000  150.000000
max    500.000000  245.000000

In [61]:
# same thing applies to `.tail()` which returns the last few rows
df.tail(2)

   Alice   Bob
2    500  55.0
3     45   NaN

In [62]:
# View the index number and label for each column
for i, v in enumerate(df.columns):
    print(i, v)

0 Alice
1 Bob

In [63]:
# select all the columns from 'id' to the last mean column
df_means = df.loc[:,'id':'fractal_dimension_mean']
df_means.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [64]:
# repeat the step above using index numbers
df_means = df.iloc[:,:11]
df_means.head()

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN